@include desktop {
	.header {
		background-image: url(/images/bg-hero-desktop.svg);

		&__container {
			// max-width: 90%;
			// margin: 0 auto;
			padding: 3em 0 0 0;
		}
	}

	.header__nav .nav__button {
		font-size: 1rem;
	}

	.container {
		display: flex;
	}

	.hero {
		margin: 6em 0;
	}

	.hero__heading,
	.hero__paragraph {
		text-align: left;
		// padding: 0 12em 0 0;
	}

	.hero__heading {
		font-size: 2rem;
		padding: 0 5em 0 0;
	}

	.hero__paragraph {
		font-size: 1rem;
		padding: 0 4em 0 0;
	}
	.hero__cta {
		font-size: 0.7rem;
		margin: 0;
		padding: 1.2em 3em;
		max-width: 25%;
	}

	.hero__image {
		max-width: 54%;
	}

	.card {
		display: flex;
		align-items: center;

		&__image {
			max-width: 35%;
		}

		&__text {
			text-align: left;
			margin-left: 4em;
		}
	}
	.card .card__paragraph {
		max-width: 70%;
		font-size: 1rem;
		margin: 1em 0 0 0;
	}
	.card-1,
	.card-3 {
		flex-direction: row-reverse;
	}

	.cta {
		max-width: 50%;
	}

	.contact__logo {
		margin-left: 10rem;
	}

	.contact__container {
		// max-width: 100%;
		// justify-self: flex-start;
		margin: 0;
	}

	.contact__container:nth-child(2) {
		margin: 1.5em 0;
	}

	.contact {
		display: flex;
		justify-content: space-evenly;
		// max-width: 40%;
	}

	.contact__col1 {
		max-width: 30%;
		justify-self: flex-start;
	}

	.contact__col2 {
		display: flex;
		justify-content: space-evenly;
		margin: 0;
		max-width: 40%;
	}

	.left__list {
		margin-right: 8rem;
	}

	.social {
		display: block;
		margin: 0;
		padding: 0;
		align-self: flex-start;
	}

	.copywrite {
		text-align: right;
		margin-right: 3rem;
		font-size: 0.7rem;
	}
}
