.button {
	display: block;
	text-align: center;
	max-width: 50%;
	background-color: var(--pink);
	color: var(--white);
	font-size: 0.8rem;
	border-radius: 2em;
	box-shadow: -4px 7px 26px -4px hsl(208, 11%, 75%);
	padding: 0.9em 3em;
	margin: 0 auto 4em auto;
}

.header {
	background-image: url(/images/bg-hero-mobile.svg);
	background-color: var(--paleCyan);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
	margin: 0 0 4em 0;

	&__container {
		max-width: 90%;
		margin: 0 auto;
		padding: 1.5em 0 0 0;
	}
}

.header__nav {
	display: flex;
	align-items: flex-start;
	margin: 0 0 3.5em 0;
	padding: 0 0.2em;

	.nav__logo {
		max-width: 35%;
	}

	.nav__button {
		background-color: var(--white);
		box-shadow: -4px 7px 26px -4px hsl(208, 11%, 75%);
		color: var(--darkCyan);
		padding: 0.5em 2em;
		border-radius: 2em;
		font-size: 0.6rem;
		text-align: center;
		margin-left: auto;
	}
}

.hero {
	padding: 0 0.2em;

	&__heading {
		text-align: center;
		font-size: 1.5rem;
		margin: 0 0 1em 0;
	}

	&__paragraph {
		text-align: center;
		font-size: 0.98rem;
		margin: 0 0 2em 0;
	}

	&__cta {
		margin: 0 auto 4em auto;
	}

	&__image {
		display: block;
		max-width: 90%;
		margin: 0 auto 4em auto;
	}
}

// cards

.card {
	max-width: 85%;
	margin: 0 auto;
	border-radius: 1em;
	box-shadow: -4px 7px 26px -4px hsl(208, 11%, 75%);

	.card__image {
		display: block;
		width: 70%;
		margin: 0 auto;
		padding: 2.5em 1em 2em 1em;
	}
}

.card:nth-child(2) {
	margin: 2em auto;
}

.card__text {
	text-align: center;
	padding: 0 1.5em 0.5em 1.5em;

	.card__heading {
		font-size: 1.3rem;
	}

	.card__paragraph {
		color: var(--grayBlue);
		font-size: 0.8rem;
		line-height: 1.5;
		font-weight: 400;
		padding: 0 0 2em 0;
	}

	.card:nth-child(2) {
		margin: 2em auto;
	}
}

.cta {
	background-color: var(--white);
	max-width: 90%;
	text-align: center;
	border-radius: 1em;
	box-shadow: 0px 5px 15px -5px hsl(208, 11%, 25%);
	padding: 0 0 1em 0;
	position: absolute;
	top: -5em;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	.cta__heading {
		font-size: 1rem;
		padding: 2em 0.5em 1em 0.5em;
	}

	.cta__button {
		font-size: 0.7rem;
		padding: 1em;
		margin: 0 auto 2em auto;
	}
}

.footer {
	height: 100%;
	position: relative;
	background-color: var(--darkCyan);
	margin: 10em 0 0 0;
}

.contact__col1 {
	padding: 0 0 4em 0;
}

.contact {
	max-width: 90%;
	margin: 0 auto;
}

.contact__logo {
	display: block;
	max-width: 50%;
	padding: 8em 0 0 0;
	margin: 0 0 2em 0;
}

.contact__container:nth-child(2) {
	margin: 1.5em auto;
}

.contact__container {
	display: flex;
	align-items: flex-start;
	max-width: 90%;
	margin: 0 auto;

	.contact__icon {
		max-width: 10%;
		margin: 0 0.6em 0 0;
	}

	p {
		font-size: 0.8em;
		padding: 0 2em 0 0;
		color: var(--white);
	}
}

.contact__col2 {
	max-width: 90%;
	margin: 0 auto;

	.list__items {
		padding: 0.4em 0;
		color: var(--white);
	}
}

.social {
	max-width: 50%;
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 2em 0;

	i {
		font-size: 1em;
		color: var(--white);
		padding: 3px;
		border: 1px solid var(--white);
		cursor: pointer;
	}

	i:nth-child(2) {
		margin: 0 1em;
	}

	.circle-icon {
		height: 1em;
		width: 1em;
		padding: 0.4em;
		border: 2px solid var(--white);
		border-radius: 50%;
	}
}

.copywrite {
	font-size: 0.8rem;
	color: var(--white);
	text-align: center;
	padding: 0 0 3em 0;
}

// active states

.button:hover,
.nav__button:hover {
	opacity: 0.8;
}

i:hover,
.circle-icon:hover {
	color: var(--pink);
}

.list__items:hover {
	border-bottom: 1px solid var(--white);
}
