:root {
	// colors
	--paleCyan: hsl(193, 100%, 96%);
	--darkCyan: hsl(192, 100%, 9%);
	--grayBlue: hsl(208, 11%, 55%);
	--pink: hsl(322, 100%, 66%);
	--white: hsl(0, 0%, 100%);

	// fonts
	--headingFont: 'Poppins', sans-serif;
	--bodyFont: 'Open Sans', sans-serif;
	--headingWeight: 600;
	--bodyWeight: 400;
	--ctaWeight: 700;
}
